<div class="container">
  <div class="row title">
    <h5 class="col-3 bg-light">会員一覧</h5>
  </div>
  <table class="table">
    <thead class="table-light">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.last_name %> <%= customer.first_name %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == false %>
              <p class="text-success">有効</p>
            <% else %>
              <p class="text-muted">退会</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
