@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header {
  display: flex;
}

footer {
  height: 100px;
}



.title {
<<<<<<< HEAD
  margin: 10px 0;
=======
  margin: 10px;
>>>>>>> 9c8d00f (made page[public(customers#show, customers#edit, customers#confirm), admin(customers#index)])
}

.header-links {
  display: flex;

}

.header-link {
  margin: 10px;
}

.field {
  display: flex;
  height: 40px;
<<<<<<< HEAD
}

.field2 {
  display: flex;
  height: 80px;
=======
>>>>>>> 9c8d00f (made page[public(customers#show, customers#edit, customers#confirm), admin(customers#index)])
}

.actions {
  justify-content: center;
  margin: 10px 0;
}

.pass {
  display: flex;
}

.kochira {
  display: flex;
}

.info {
  height: 50px;
  line-height: 50px;
}

.text {
  text-align: center;
  margin: 50px;
<<<<<<< HEAD
}

.genre-new {
  display: flex;
}

.radio-button {
  display: flex;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  height: 250px;
}

.image {
  width: 150px;
  height: 150px;
}

.genre {
  text-align: center;
  margin: 0 auto;
}

.plus {
  color: black;
=======
>>>>>>> 9c8d00f (made page[public(customers#show, customers#edit, customers#confirm), admin(customers#index)])
}