@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header {
  display: flex;
}

.header-links {
  display: flex;

}

.header-link {
  margin: 10px;
}

.field {
  display: flex;
  height: px;
}

.actions {
  justify-content: center;
}

.pass {
  display: flex;
}

.kochira {
  display: flex;
}