@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header {
  display: flex;
}

footer {
  height: 100px;
}



.title {
  margin: 10px;
}

.header-links {
  display: flex;

}

.header-link {
  margin: 10px;
}

.field {
  display: flex;
  height: 40px;
}

.actions {
  justify-content: center;
}

.pass {
  display: flex;
}

.kochira {
  display: flex;
}

.info {
  height: 50px;
  line-height: 50px;
}

.text {
  text-align: center;
  margin: 50px;
}