<div class="col-3">
  <div class="border border-dark ">
    <p class="genre">ジャンル検索</p>
  </div>
  <div class="border border-dark border-top-0">
    <% genres.each do |genre| %>
      <div class="genre"><%= genre.name %></div>
    <% end %>
  </div>
</div>